.wrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	min-width: 260px;
	flex: 1 1 250px;
	max-width: 330px;
	max-height: 50px;

	margin: 8px;
	background: var(--jt2);

	padding: 8px;
	border-radius: 8px;
	font-weight: bold;
}
.wrapper:hover {
	background: var(--jt1);
	transform: scale(1.05);
}

.cover {
	/* width: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color: var(--jt4);
}

.title {
	width: 100%;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: var(--white);
	margin-left: 8px;
}
