@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply transition-all;
}

body {
	/* --stars: #ffffffaa; */
	--stars: #a1a1aa;
}

.stars:after {
	@apply fixed top-0 content-[''] opacity-100 z-[1];
}

.stars-1:after {
	width: 2px;
	height: 2px;
	background-position: 0 0;
	box-shadow: 1359px 1518px var(--stars), 1736px 358px var(--stars), 238px 1063px var(--stars), 370px 1495px var(--stars),
		1094px 1433px var(--stars), 922px 1019px var(--stars), 1906px 646px var(--stars), 974px 1000px var(--stars), 1173px 1498px var(--stars),
		731px 45px var(--stars), 1601px 976px var(--stars), 813px 704px var(--stars), 1121px 788px var(--stars), 1030px 1664px var(--stars),
		554px 1216px var(--stars), 1903px 1694px var(--stars), 767px 833px var(--stars), 1470px 1456px var(--stars), 457px 1057px var(--stars),
		1117px 1317px var(--stars), 746px 427px var(--stars), 556px 676px var(--stars), 1122px 852px var(--stars), 528px 1963px var(--stars),
		973px 1102px var(--stars), 1980px 116px var(--stars), 821px 711px var(--stars), 1617px 1697px var(--stars), 1094px 1846px var(--stars),
		672px 280px var(--stars), 1856px 499px var(--stars), 1500px 1561px var(--stars), 675px 1554px var(--stars), 1713px 238px var(--stars),
		1845px 744px var(--stars), 1726px 1346px var(--stars), 878px 1063px var(--stars), 1481px 563px var(--stars), 282px 1584px var(--stars),
		812px 288px var(--stars), 13px 1300px var(--stars), 389px 276px var(--stars), 1749px 229px var(--stars), 373px 922px var(--stars),
		917px 550px var(--stars), 744px 1259px var(--stars), 1628px 878px var(--stars), 638px 1333px var(--stars), 821px 1555px var(--stars),
		1114px 1443px var(--stars), 220px 672px var(--stars), 1817px 1075px var(--stars), 819px 737px var(--stars), 49px 633px var(--stars),
		829px 1645px var(--stars), 67px 365px var(--stars), 187px 1868px var(--stars), 1798px 1199px var(--stars), 36px 460px var(--stars),
		1689px 148px var(--stars), 768px 1536px var(--stars), 1329px 1158px var(--stars), 162px 510px var(--stars), 1098px 723px var(--stars),
		1990px 1866px var(--stars), 1904px 277px var(--stars), 599px 1236px var(--stars), 231px 1518px var(--stars), 101px 1401px var(--stars),
		65px 572px var(--stars), 1000px 1271px var(--stars), 1314px 186px var(--stars), 218px 1460px var(--stars), 154px 702px var(--stars),
		1662px 146px var(--stars), 1508px 484px var(--stars), 513px 797px var(--stars), 199px 510px var(--stars), 1790px 266px var(--stars),
		1487px 491px var(--stars), 7px 1846px var(--stars), 1981px 973px var(--stars), 1829px 1089px var(--stars), 713px 1556px var(--stars),
		296px 567px var(--stars), 1532px 687px var(--stars), 729px 1940px var(--stars), 888px 1426px var(--stars), 1411px 1654px var(--stars),
		1342px 1416px var(--stars), 928px 414px var(--stars), 618px 1977px var(--stars), 288px 583px var(--stars), 1303px 1562px var(--stars),
		238px 657px var(--stars), 1304px 1483px var(--stars), 1182px 1502px var(--stars), 451px 112px var(--stars), 1177px 993px var(--stars),
		506px 152px var(--stars), 1215px 1102px var(--stars), 1471px 817px var(--stars), 1398px 90px var(--stars), 1939px 1697px var(--stars),
		798px 1748px var(--stars), 1746px 439px var(--stars), 675px 1780px var(--stars), 135px 414px var(--stars), 1348px 9px var(--stars),
		1604px 880px var(--stars), 589px 1885px var(--stars), 344px 344px var(--stars), 1697px 368px var(--stars), 70px 1442px var(--stars),
		1019px 297px var(--stars), 1383px 608px var(--stars), 1613px 447px var(--stars), 736px 836px var(--stars), 493px 926px var(--stars),
		1786px 1323px var(--stars), 750px 429px var(--stars), 179px 1577px var(--stars), 989px 1502px var(--stars), 857px 1033px var(--stars),
		350px 743px var(--stars), 87px 816px var(--stars), 98px 1078px var(--stars), 583px 17px var(--stars), 699px 282px var(--stars),
		1889px 1165px var(--stars), 1599px 1273px var(--stars), 423px 266px var(--stars), 1311px 1913px var(--stars), 747px 759px var(--stars),
		1220px 422px var(--stars), 1993px 1724px var(--stars), 680px 1474px var(--stars), 1649px 19px var(--stars), 1392px 1344px var(--stars),
		1152px 1230px var(--stars), 1913px 144px var(--stars), 348px 1739px var(--stars), 448px 1193px var(--stars), 1160px 624px var(--stars),
		462px 1060px var(--stars), 542px 1198px var(--stars), 754px 1836px var(--stars), 1368px 1025px var(--stars), 1117px 1353px var(--stars),
		705px 1685px var(--stars), 1505px 1082px var(--stars), 930px 720px var(--stars), 828px 760px var(--stars), 1023px 945px var(--stars),
		662px 1475px var(--stars), 102px 1362px var(--stars), 815px 1919px var(--stars), 654px 1079px var(--stars), 1837px 1576px var(--stars),
		1636px 802px var(--stars), 77px 985px var(--stars), 383px 1557px var(--stars), 266px 638px var(--stars), 770px 1558px var(--stars),
		986px 1213px var(--stars), 1123px 1548px var(--stars), 359px 1688px var(--stars), 57px 1159px var(--stars), 83px 1741px var(--stars),
		1306px 1497px var(--stars), 1650px 707px var(--stars), 1890px 1654px var(--stars), 1892px 1898px var(--stars),
		1162px 1510px var(--stars), 994px 1232px var(--stars), 1625px 1174px var(--stars), 1912px 1832px var(--stars), 803px 1259px var(--stars),
		1644px 485px var(--stars), 582px 1936px var(--stars), 1828px 502px var(--stars), 376px 1366px var(--stars), 319px 907px var(--stars),
		188px 1839px var(--stars), 195px 1055px var(--stars), 1193px 802px var(--stars), 349px 409px var(--stars), 1013px 813px var(--stars),
		272px 474px var(--stars), 87px 1459px var(--stars), 309px 1246px var(--stars), 1619px 1637px var(--stars), 588px 1256px var(--stars),
		103px 1046px var(--stars), 1576px 1279px var(--stars), 81px 1524px var(--stars), 609px 1023px var(--stars), 808px 1821px var(--stars),
		1865px 859px var(--stars), 1057px 1319px var(--stars), 157px 2px var(--stars), 627px 649px var(--stars), 7px 1239px var(--stars),
		1794px 1254px var(--stars), 1818px 17px var(--stars), 728px 1247px var(--stars), 1336px 1478px var(--stars), 972px 1396px var(--stars),
		782px 1825px var(--stars), 1759px 639px var(--stars), 1159px 1024px var(--stars), 383px 22px var(--stars), 659px 1747px var(--stars),
		1773px 1569px var(--stars), 1211px 1319px var(--stars), 1911px 1450px var(--stars), 1774px 557px var(--stars), 597px 1425px var(--stars),
		495px 184px var(--stars), 1481px 810px var(--stars), 775px 403px var(--stars), 485px 591px var(--stars), 648px 1975px var(--stars),
		661px 618px var(--stars), 1425px 353px var(--stars), 166px 1848px var(--stars), 1142px 535px var(--stars), 1289px 739px var(--stars),
		1056px 1146px var(--stars), 70px 613px var(--stars), 486px 1283px var(--stars), 1877px 1401px var(--stars), 1889px 1895px var(--stars),
		1664px 1953px var(--stars), 70px 1109px var(--stars), 1754px 487px var(--stars), 764px 1306px var(--stars), 1409px 263px var(--stars),
		618px 1577px var(--stars), 197px 1142px var(--stars), 1196px 342px var(--stars), 275px 1673px var(--stars), 896px 669px var(--stars),
		827px 1771px var(--stars), 1962px 1331px var(--stars), 300px 1921px var(--stars), 1366px 674px var(--stars), 639px 971px var(--stars),
		337px 1660px var(--stars), 44px 832px var(--stars), 602px 1412px var(--stars), 1006px 1975px var(--stars), 1375px 229px var(--stars),
		648px 1377px var(--stars), 819px 1427px var(--stars), 1871px 1520px var(--stars), 1560px 1152px var(--stars), 418px 1933px var(--stars),
		15px 1963px var(--stars), 487px 1086px var(--stars), 727px 1916px var(--stars), 1057px 1923px var(--stars), 799px 1956px var(--stars),
		1367px 68px var(--stars), 910px 1698px var(--stars), 1741px 198px var(--stars), 782px 432px var(--stars), 1687px 725px var(--stars),
		1099px 1500px var(--stars), 1051px 1422px var(--stars), 246px 73px var(--stars), 1474px 1372px var(--stars), 826px 1992px var(--stars),
		20px 1004px var(--stars), 369px 239px var(--stars), 290px 1031px var(--stars), 1433px 1363px var(--stars), 1971px 328px var(--stars),
		1838px 1745px var(--stars), 1565px 836px var(--stars), 459px 1098px var(--stars), 1810px 1742px var(--stars), 1868px 291px var(--stars),
		1653px 1705px var(--stars), 1409px 663px var(--stars), 282px 156px var(--stars), 1593px 984px var(--stars), 1223px 236px var(--stars),
		1007px 1090px var(--stars), 492px 1025px var(--stars), 866px 1301px var(--stars), 1970px 66px var(--stars), 76px 696px var(--stars),
		782px 1776px var(--stars), 885px 77px var(--stars), 1506px 785px var(--stars), 547px 1180px var(--stars), 1993px 334px var(--stars),
		914px 861px var(--stars), 1251px 1594px var(--stars), 514px 1671px var(--stars), 175px 1203px var(--stars), 1440px 1022px var(--stars),
		1750px 1300px var(--stars), 375px 396px var(--stars), 1481px 1118px var(--stars), 937px 641px var(--stars), 1375px 88px var(--stars),
		1228px 230px var(--stars), 445px 1251px var(--stars), 1305px 673px var(--stars), 368px 382px var(--stars), 1644px 180px var(--stars),
		132px 1606px var(--stars), 1103px 52px var(--stars), 719px 662px var(--stars), 827px 1602px var(--stars), 1718px 653px var(--stars),
		618px 969px var(--stars), 155px 570px var(--stars), 63px 1939px var(--stars), 154px 343px var(--stars), 1844px 1228px var(--stars),
		1049px 596px var(--stars), 1403px 1578px var(--stars), 1059px 308px var(--stars), 1438px 323px var(--stars), 458px 478px var(--stars),
		798px 300px var(--stars), 1706px 1511px var(--stars), 1433px 966px var(--stars), 1397px 1640px var(--stars), 473px 138px var(--stars),
		1692px 1516px var(--stars), 1979px 970px var(--stars), 743px 1326px var(--stars), 55px 1091px var(--stars), 1881px 1516px var(--stars),
		1614px 1263px var(--stars), 43px 632px var(--stars), 290px 409px var(--stars), 1306px 60px var(--stars), 634px 1285px var(--stars),
		1210px 1896px var(--stars), 1505px 1649px var(--stars), 581px 739px var(--stars), 1484px 1602px var(--stars), 1662px 750px var(--stars),
		553px 1852px var(--stars), 868px 801px var(--stars), 297px 1286px var(--stars), 1289px 370px var(--stars), 850px 271px var(--stars),
		1616px 677px var(--stars), 26px 1641px var(--stars), 700px 1148px var(--stars), 1386px 443px var(--stars), 121px 788px var(--stars),
		145px 1188px var(--stars), 1210px 749px var(--stars), 1774px 672px var(--stars), 524px 107px var(--stars), 1959px 813px var(--stars),
		721px 503px var(--stars), 1399px 334px var(--stars), 892px 1641px var(--stars), 1448px 242px var(--stars), 436px 849px var(--stars),
		1171px 1960px var(--stars), 1634px 1100px var(--stars), 1231px 1777px var(--stars), 679px 1868px var(--stars), 1324px 616px var(--stars),
		334px 1287px var(--stars), 1569px 1968px var(--stars), 424px 65px var(--stars), 1743px 558px var(--stars), 40px 430px var(--stars),
		1110px 813px var(--stars), 1671px 832px var(--stars), 131px 497px var(--stars), 1995px 1755px var(--stars), 1275px 1681px var(--stars),
		781px 219px var(--stars), 1110px 639px var(--stars), 1741px 226px var(--stars), 1974px 210px var(--stars), 765px 870px var(--stars),
		1960px 1260px var(--stars), 1869px 556px var(--stars), 1627px 1406px var(--stars), 19px 809px var(--stars), 204px 574px var(--stars),
		1619px 454px var(--stars), 773px 741px var(--stars), 1020px 1337px var(--stars), 556px 1140px var(--stars), 775px 1008px var(--stars),
		506px 1987px var(--stars), 64px 711px var(--stars), 1261px 301px var(--stars), 1287px 1669px var(--stars), 1898px 1353px var(--stars),
		224px 1816px var(--stars), 1887px 42px var(--stars), 395px 1556px var(--stars), 589px 441px var(--stars), 992px 1166px var(--stars),
		1901px 1734px var(--stars), 1778px 1341px var(--stars), 1308px 502px var(--stars), 984px 26px var(--stars), 1732px 1653px var(--stars),
		259px 735px var(--stars), 1797px 868px var(--stars), 79px 873px var(--stars), 258px 1030px var(--stars), 1443px 146px var(--stars),
		719px 469px var(--stars), 1411px 971px var(--stars), 1307px 394px var(--stars), 1083px 712px var(--stars), 1920px 1472px var(--stars),
		696px 1399px var(--stars), 968px 1955px var(--stars), 338px 1792px var(--stars), 1406px 1598px var(--stars), 1567px 1858px var(--stars),
		1184px 37px var(--stars), 525px 885px var(--stars), 862px 441px var(--stars), 335px 553px var(--stars), 441px 225px var(--stars),
		1471px 1825px var(--stars), 1876px 1698px var(--stars), 658px 947px var(--stars), 387px 192px var(--stars), 728px 1387px var(--stars),
		220px 1905px var(--stars), 1865px 1986px var(--stars), 173px 63px var(--stars), 1257px 1240px var(--stars), 801px 971px var(--stars),
		409px 1697px var(--stars), 639px 619px var(--stars), 1628px 1094px var(--stars), 534px 1275px var(--stars), 1117px 340px var(--stars),
		1535px 820px var(--stars), 630px 1410px var(--stars), 1771px 1361px var(--stars), 324px 1772px var(--stars), 650px 1259px var(--stars),
		1046px 1754px var(--stars), 847px 862px var(--stars), 335px 238px var(--stars), 285px 271px var(--stars), 307px 1496px var(--stars),
		1759px 1833px var(--stars), 1727px 1471px var(--stars), 1790px 1263px var(--stars), 257px 221px var(--stars), 1378px 1406px var(--stars),
		241px 88px var(--stars), 955px 1865px var(--stars), 55px 1837px var(--stars), 1404px 814px var(--stars), 61px 692px var(--stars),
		999px 1073px var(--stars), 1234px 1829px var(--stars), 1638px 433px var(--stars), 1937px 1555px var(--stars), 1109px 1781px var(--stars),
		1567px 1576px var(--stars), 522px 1288px var(--stars), 1842px 933px var(--stars), 1918px 1764px var(--stars), 52px 1971px var(--stars),
		780px 735px var(--stars), 812px 742px var(--stars), 203px 617px var(--stars), 244px 1809px var(--stars), 1375px 1537px var(--stars),
		1993px 11px var(--stars), 1825px 1271px var(--stars), 438px 1715px var(--stars), 968px 1001px var(--stars), 1574px 1518px var(--stars),
		817px 638px var(--stars), 686px 724px var(--stars), 1073px 1513px var(--stars), 986px 1409px var(--stars), 335px 1975px var(--stars),
		1595px 1323px var(--stars), 524px 222px var(--stars), 1602px 161px var(--stars), 1019px 1026px var(--stars), 436px 41px var(--stars),
		514px 546px var(--stars), 1221px 1040px var(--stars), 281px 1660px var(--stars), 1386px 762px var(--stars), 309px 1155px var(--stars),
		139px 1886px var(--stars), 1784px 1863px var(--stars), 517px 183px var(--stars), 1810px 1994px var(--stars), 607px 1884px var(--stars),
		1647px 244px var(--stars), 571px 1487px var(--stars), 1270px 938px var(--stars), 1047px 1516px var(--stars), 1548px 470px var(--stars),
		653px 51px var(--stars), 1974px 927px var(--stars), 314px 928px var(--stars), 1469px 901px var(--stars), 372px 486px var(--stars),
		1795px 249px var(--stars), 12px 1683px var(--stars), 596px 940px var(--stars), 410px 1235px var(--stars), 1922px 1267px var(--stars),
		1353px 968px var(--stars), 1914px 601px var(--stars), 1020px 1936px var(--stars), 1139px 1344px var(--stars), 443px 1943px var(--stars),
		273px 1368px var(--stars), 1254px 13px var(--stars), 1700px 1301px var(--stars), 471px 840px var(--stars), 832px 1369px var(--stars),
		639px 122px var(--stars), 873px 1678px var(--stars), 1623px 1733px var(--stars), 338px 1599px var(--stars), 1504px 8px var(--stars),
		229px 69px var(--stars), 569px 1682px var(--stars), 229px 568px var(--stars), 949px 52px var(--stars), 528px 334px var(--stars),
		1883px 1141px var(--stars), 1051px 125px var(--stars), 468px 1529px var(--stars), 7px 1748px var(--stars), 1627px 530px var(--stars),
		108px 1302px var(--stars), 494px 4px var(--stars), 532px 1201px var(--stars), 1963px 163px var(--stars), 1141px 1458px var(--stars),
		1265px 1200px var(--stars), 682px 1109px var(--stars), 1663px 161px var(--stars), 1254px 1038px var(--stars), 873px 1044px var(--stars),
		201px 488px var(--stars), 23px 302px var(--stars), 692px 572px var(--stars), 328px 1825px var(--stars), 1576px 526px var(--stars),
		466px 1718px var(--stars), 725px 604px var(--stars), 784px 1166px var(--stars), 1938px 1730px var(--stars), 1598px 1763px var(--stars),
		1538px 836px var(--stars), 1978px 629px var(--stars), 1724px 1157px var(--stars), 1984px 832px var(--stars), 1613px 982px var(--stars),
		1088px 1504px var(--stars), 1142px 1024px var(--stars), 951px 1521px var(--stars), 1160px 800px var(--stars), 165px 1173px var(--stars),
		1151px 1966px var(--stars), 1830px 723px var(--stars), 1813px 1901px var(--stars), 463px 1932px var(--stars), 827px 974px var(--stars),
		1247px 352px var(--stars), 118px 1863px var(--stars), 330px 635px var(--stars), 744px 1147px var(--stars), 174px 647px var(--stars),
		824px 965px var(--stars), 548px 413px var(--stars), 1316px 1526px var(--stars), 1720px 1180px var(--stars), 164px 227px var(--stars),
		32px 1323px var(--stars), 148px 778px var(--stars), 1068px 1682px var(--stars), 838px 214px var(--stars), 1268px 1693px var(--stars),
		957px 1439px var(--stars), 1730px 765px var(--stars), 472px 1960px var(--stars), 26px 77px var(--stars), 1995px 1731px var(--stars),
		1647px 1715px var(--stars), 82px 23px var(--stars), 1156px 1223px var(--stars), 352px 987px var(--stars), 203px 1866px var(--stars),
		629px 454px var(--stars), 1482px 1590px var(--stars), 952px 218px var(--stars), 593px 1524px var(--stars), 658px 939px var(--stars),
		1643px 1212px var(--stars), 1079px 124px var(--stars), 617px 550px var(--stars), 1762px 883px var(--stars), 1561px 475px var(--stars),
		1358px 1913px var(--stars), 1856px 1255px var(--stars), 1181px 819px var(--stars), 98px 897px var(--stars), 1298px 1740px var(--stars),
		1503px 1764px var(--stars), 1918px 1240px var(--stars), 996px 74px var(--stars), 1627px 1784px var(--stars), 233px 1729px var(--stars),
		1151px 199px var(--stars), 32px 1972px var(--stars), 1954px 1816px var(--stars), 1641px 1249px var(--stars), 811px 588px var(--stars),
		920px 1670px var(--stars), 51px 1554px var(--stars), 442px 610px var(--stars), 1615px 257px var(--stars), 862px 638px var(--stars),
		1365px 344px var(--stars), 1672px 1009px var(--stars), 1219px 336px var(--stars), 1969px 1067px var(--stars), 1945px 1606px var(--stars),
		1939px 1873px var(--stars), 491px 65px var(--stars), 775px 683px var(--stars), 1519px 104px var(--stars), 1178px 671px var(--stars),
		1711px 1238px var(--stars), 1811px 725px var(--stars), 1782px 197px var(--stars), 1064px 444px var(--stars), 1549px 1974px var(--stars),
		445px 1512px var(--stars), 288px 699px var(--stars), 1167px 348px var(--stars), 1140px 1089px var(--stars), 3px 1814px var(--stars),
		1559px 1440px var(--stars), 1895px 465px var(--stars), 105px 1029px var(--stars), 1381px 692px var(--stars), 1872px 595px var(--stars),
		690px 963px var(--stars), 382px 558px var(--stars), 151px 927px var(--stars), 1538px 1491px var(--stars), 1255px 1009px var(--stars),
		697px 908px var(--stars), 732px 1968px var(--stars), 509px 960px var(--stars), 495px 228px var(--stars), 362px 234px var(--stars),
		565px 1930px var(--stars), 935px 304px var(--stars), 1204px 372px var(--stars), 1918px 1145px var(--stars), 991px 8px var(--stars),
		758px 566px var(--stars), 1462px 30px var(--stars), 283px 1916px var(--stars), 621px 1323px var(--stars), 387px 659px var(--stars),
		745px 1172px var(--stars), 1705px 1197px var(--stars), 1059px 497px var(--stars), 1239px 712px var(--stars), 673px 1228px var(--stars),
		575px 641px var(--stars), 1277px 210px var(--stars), 1870px 651px var(--stars), 942px 1090px var(--stars), 1275px 586px var(--stars),
		1189px 1178px var(--stars), 962px 746px var(--stars), 2000px 1691px var(--stars), 1352px 1241px var(--stars), 554px 905px var(--stars),
		206px 1878px var(--stars), 1858px 322px var(--stars), 2214px 322px var(--stars), 2304px 522px var(--stars);
}

.stars-2:after {
	width: 3px;
	height: 3px;
	background-position: 0 0;
	box-shadow: 68px 605px var(--stars), 547px 979px var(--stars), 347px 1251px var(--stars), 698px 32px var(--stars),
		1465px 67px var(--stars), 213px 895px var(--stars), 665px 1943px var(--stars), 562px 1855px var(--stars), 366px 1187px var(--stars),
		517px 877px var(--stars), 1174px 195px var(--stars), 639px 6px var(--stars), 1939px 1994px var(--stars), 1400px 1392px var(--stars),
		501px 389px var(--stars), 1395px 826px var(--stars), 1126px 1345px var(--stars), 869px 515px var(--stars), 143px 1508px var(--stars),
		890px 163px var(--stars), 1052px 137px var(--stars), 1099px 955px var(--stars), 766px 751px var(--stars), 1027px 1671px var(--stars),
		1078px 1428px var(--stars), 1434px 1778px var(--stars), 611px 1635px var(--stars), 838px 1845px var(--stars), 1548px 499px var(--stars),
		1742px 1545px var(--stars), 1606px 524px var(--stars), 780px 1818px var(--stars), 1465px 1016px var(--stars), 290px 568px var(--stars),
		1717px 1324px var(--stars), 1123px 962px var(--stars), 1812px 1900px var(--stars), 769px 748px var(--stars), 1767px 1191px var(--stars),
		1676px 1295px var(--stars), 683px 1033px var(--stars), 1664px 1835px var(--stars), 1219px 770px var(--stars), 255px 1105px var(--stars),
		880px 858px var(--stars), 975px 76px var(--stars), 1537px 1794px var(--stars), 1983px 1173px var(--stars), 1449px 1833px var(--stars),
		1114px 1761px var(--stars), 1080px 356px var(--stars), 1312px 515px var(--stars), 1262px 889px var(--stars), 652px 1438px var(--stars),
		16px 343px var(--stars), 1732px 1203px var(--stars), 439px 1257px var(--stars), 428px 584px var(--stars), 1075px 1579px var(--stars),
		1638px 1695px var(--stars), 1824px 526px var(--stars), 1320px 782px var(--stars), 439px 1431px var(--stars), 853px 1155px var(--stars),
		1042px 1952px var(--stars), 1452px 880px var(--stars), 535px 1610px var(--stars), 1520px 1567px var(--stars), 1271px 433px var(--stars),
		1293px 9px var(--stars), 1922px 1513px var(--stars), 1007px 289px var(--stars), 1926px 92px var(--stars), 843px 200px var(--stars),
		544px 1504px var(--stars), 61px 895px var(--stars), 1978px 749px var(--stars), 729px 1831px var(--stars), 603px 1729px var(--stars),
		1382px 1538px var(--stars), 771px 1957px var(--stars), 1769px 1957px var(--stars), 196px 75px var(--stars), 1317px 930px var(--stars),
		1752px 1265px var(--stars), 845px 1674px var(--stars), 1317px 1642px var(--stars), 575px 803px var(--stars), 1841px 578px var(--stars),
		1873px 1368px var(--stars), 1781px 771px var(--stars), 1920px 107px var(--stars), 99px 809px var(--stars), 965px 1290px var(--stars),
		288px 443px var(--stars), 1927px 1303px var(--stars), 415px 1381px var(--stars), 167px 564px var(--stars), 493px 347px var(--stars),
		540px 1811px var(--stars), 1089px 1925px var(--stars), 1329px 1308px var(--stars), 906px 1184px var(--stars), 1833px 924px var(--stars),
		784px 917px var(--stars), 88px 1063px var(--stars), 1233px 1030px var(--stars), 1756px 320px var(--stars), 326px 25px var(--stars),
		1359px 476px var(--stars), 880px 1906px var(--stars), 1120px 1281px var(--stars), 1434px 832px var(--stars), 1988px 232px var(--stars),
		1037px 202px var(--stars), 594px 1284px var(--stars), 1227px 1145px var(--stars), 636px 1825px var(--stars), 1253px 1556px var(--stars),
		308px 1408px var(--stars), 1366px 987px var(--stars), 4px 1083px var(--stars), 258px 1082px var(--stars), 272px 640px var(--stars),
		1796px 1114px var(--stars), 1397px 391px var(--stars), 662px 44px var(--stars), 1087px 1128px var(--stars), 1905px 1616px var(--stars),
		1623px 1938px var(--stars), 993px 1902px var(--stars), 348px 345px var(--stars), 422px 269px var(--stars), 966px 1743px var(--stars),
		106px 1346px var(--stars), 1114px 838px var(--stars), 1px 664px var(--stars), 650px 546px var(--stars), 1736px 1294px var(--stars),
		695px 190px var(--stars), 300px 59px var(--stars), 1971px 1045px var(--stars), 320px 477px var(--stars), 1195px 217px var(--stars),
		729px 204px var(--stars), 1176px 229px var(--stars), 187px 1602px var(--stars), 146px 1891px var(--stars), 1137px 340px var(--stars),
		1833px 1510px var(--stars), 1227px 1467px var(--stars), 232px 1851px var(--stars), 1940px 274px var(--stars), 549px 1317px var(--stars),
		732px 469px var(--stars), 1549px 403px var(--stars), 832px 1815px var(--stars), 1052px 1020px var(--stars), 273px 1519px var(--stars),
		384px 627px var(--stars), 46px 428px var(--stars), 920px 968px var(--stars), 1298px 779px var(--stars), 1480px 380px var(--stars),
		1862px 534px var(--stars), 438px 1491px var(--stars), 555px 1432px var(--stars), 1813px 1825px var(--stars), 1248px 270px var(--stars),
		907px 928px var(--stars), 1162px 845px var(--stars), 1332px 1903px var(--stars), 1487px 1187px var(--stars), 411px 1927px var(--stars),
		872px 710px var(--stars), 924px 534px var(--stars), 1250px 31px var(--stars), 178px 1019px var(--stars), 386px 161px var(--stars),
		1250px 724px var(--stars), 1535px 674px var(--stars), 1308px 1812px var(--stars), 177px 300px var(--stars), 1446px 571px var(--stars),
		605px 1916px var(--stars), 1625px 1983px var(--stars), 1557px 1925px var(--stars), 1387px 1980px var(--stars),
		1507px 1422px var(--stars), 149px 461px var(--stars), 937px 1046px var(--stars), 1797px 348px var(--stars), 1223px 777px var(--stars),
		351px 1849px var(--stars), 104px 1353px var(--stars), 1652px 1635px var(--stars), 1687px 1420px var(--stars), 923px 1921px var(--stars),
		1771px 1978px var(--stars), 828px 922px var(--stars), 2214px 322px var(--stars), 2304px 522px var(--stars);
}
