.link {
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
	color: var(--white);
}
.link:hover {
	color: var(--jt3);
}
.link.active {
	text-underline-offset: 6px;
	text-decoration: underline;
	text-decoration-color: var(--jt3);
	text-decoration-thickness: 1px;
}
