.container {
	padding: 0.25rem 0.5rem;
	background: var(--applePodcasts);
	color: var(--white);
	font-weight: bold;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;

	&.spotify {
		background: var(--spotify);
	}
}

.container:hover {
	color: var(--white);
}

.star {
	font-size: 0.8em;
	margin-left: 0.125rem;
	margin-right: 0.25rem;
}
