.container {
	padding: 8px;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 14px;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.byline {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@media (max-width: 600px) {
	.byline {
		align-items: flex-start;
		flex-direction: column;
	}
}

.author {
	font-size: 12px;
	margin-left: 16px;
	margin-right: 16px;
	font-style: italic;
	color: var(--logo);
}
@media (max-width: 600px) {
	.author {
		margin-left: 8px;
		margin-top: 8px;
	}
}

.heading {
	font-weight: bold;
	font-size: 18px;
	margin-top: 16px;
	margin-bottom: 4px;
}

.title {
	font-weight: bold;
	color: var(--jt3);
}

.text {
	font-size: 12px;
	line-height: 1.5;
	padding: 8px;
}
