.container {
	min-width: 250px;
	flex: 1 1 250px;
	max-width: 350px;
	transition: all 150ms linear;
	/* transform: skewY(-2deg); */
}
.container:hover {
	transform: scale(1.05) skewY(0deg);
}

.card {
	padding: 8px;
	border-radius: 8px;
}
@media (min-width: 750px) {
	.card {
		margin-bottom: 8px;
	}
}

.cover {
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	color: var(--white);
}

.data {
	margin-left: 8px;
	text-align: center;
	font-size: 12px;
}

.title {
	margin: 0;
	font-weight: 700;
}
.subtitle {
	color: var(--white);
	font-weight: bold;
	margin: 0;
}
