:root {
	--bg: #07091a;
	--bg2: #050b3b;
	--white: #fff;
	--patreon: #f96854;
	--applePodcasts: #872ec4;
	--yellow: rgb(237, 237, 55);

	--jt1: #1e1e51;
	--jt2: #092043;
	--jt3: #f66e0d;
	--jt4: #747980;

	--logo7: blue;
	--logo6: #33f;
	--logo5: #66f;
	--logo4: #99f;
	--logo3: #ccf;
	--logo2: #f0f0ff;

	--logo: var(--logo3);
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	background: var(--bg);
	background: linear-gradient(180deg, var(--bg), var(--bg2) 100%);
}
html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	color: var(--white);
	/* Stars */
	height: 100%;
	overflow: hidden;
}

.scroller {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 16px 0px 16px;
	/* padding-bottom: 80px; */
	/* Stars */
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: var(--white);
	text-decoration: none;
}
a:hover {
	color: var(--white);
}
