:root {
	--bg: #07091a;
	--outline: #040617;
	--text: #fff;
	--link: #fff;
	--linkAlt: #a0a8d9;
	--white: #fff;
	--patreon: #f96854;
	--applePodcasts: #872ec4;
	--yellow: rgb(237, 237, 55);

	--logo1: #d9d9ff;

	--jt1: #1e1e51;
	--jt2: #092043;
	--jt3: #f66e0d;
	--jt4: #747980;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	color: var(--text);
	/* background: var(--bg); */
	/* Stars */
	height: 100%;
	overflow: hidden;
}

#__next {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 16px 0px 16px;
	/* Stars */
	overflow: scroll;
}

a {
	color: var(--text);
	text-decoration: none;
}
a:hover {
	color: var(--text);
}
